/* Global Styles */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Karla', sans-serif;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 16px;
}

/* Home Page */

.screens_home {
  background-color: #FFFFFC; /* muted orange */
  color: #333333; /* black */
  margin: 60px auto;
  width: 650px;
  max-width: 1440px;
}

.screens_home .section_mark {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}

.screens_home .section_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.screens_home .section_content {
  display: flex;
  flex-direction: column;
  width: calc(50% - 1rem);
}

.screens_home .title,
.screens_home .content-type .category {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
  vertical-align: bottom;
}

.screens_home .logo {
  margin-bottom: 16px;
}

.screens_home .title {
  margin-bottom: 8px;
}

.screens_home .tagline {
  font-size: 14px;
}

.screens_home .content-type .category {
  line-height: 24px;
  margin-bottom: 24px;
}

.screens_home .content-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.screens_home .content-link {
  color: #333333; /* black */
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
  text-decoration: none;
}

.screens_home a:hover {
  color: #3454FA; /* playful blue */
}

.screens_home .disabled {
  color: #9a9a9a; /* muted gray */
}

.screens_home .expand {
  color: #FF5ADB;
}

.screens_home .arrow {
  padding-left: 8px;
}

@media only screen
and (max-device-width : 768px) {
  .screens_home {
    width: 80%;
  }
}

@media only screen
and (max-device-width : 450px) {
  .screens_home {
    margin: 60px 16px;
  }

  .screens_home .content-link {
    font-size: 16px;
    margin-bottom: 12px;
  }
}

/* Blog Post */

.screens_blog-post {
  background-color: #fcfcfc; /* muted blue-gray */
  color: #333333; /* black */
  margin: 0;
}

.screens_blog-post .logo-img:hover {
  opacity: 0.4;
}

.screens_blog-post .blog-content {
  margin: 60px auto;
  width: 650px;
}

.screens_blog-post h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 32px;
}

.screens_blog-post h3 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 64px;
}

.screens_blog-post p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin: 20px auto;
}

.screens_blog-post a,
.screens_blog-post a:active {
  color: #4d69ff; /* logo blue */
  text-decoration: none;
}

.screens_blog-post a:visited {
  color: #4d69ff; /* logo blue */
}

.screens_blog-post ul {
  margin: 0;
  padding: 0;
}

.screens_blog-post ul {
  list-style: none;
}

.screens_blog-post li {
  margin: 16px auto;
}

.screens_blog-post .blog-main img {
  background-color: #FFFFFF;
  text-align: center;
  margin: 20px auto;
  width: 100%;
}

.screens_blog-post blockquote {
  background-color: #f7f0ff; /* light, muted purple */
  border-radius: 2px;
  margin: 0;
  padding: 16px;
}

.screens_blog-post .conversation {
  border-left: 4px solid #a354fd; /* logo purple */
  margin: 0;
  padding: 20px 0 20px 12px;
}

@media only screen
and (max-device-width : 768px) {
  .screens_blog-post .blog-content {
    width: 80%;
  }
}

@media only screen
and (max-device-width : 450px) {
  .screens_blog-post .blog-content {
    width: auto;
    margin: 60px 16px;
  }

  .screens_blog-post p {
    font-size: 16px;
    line-height: 24px;
  }
}
