  /* generic styles */

  body {
    background-image: linear-gradient(to bottom right, #FFFEF5, #FFFFFF);
    color: #252525;
    font-family: 'Vollkorn', serif;
    font-size: 16px;
    margin: 0;
  }

  p, a, li, h1, h2, h3, h4, h5, h6, blockquote, img {
    max-width: 38rem;
    padding: 2px;
    margin: auto;
  }

  h3, h4 {
    margin-top: 28px;
    margin-bottom: 28px;
    line-height: 30px;
  }

  h5, h6, p {
    margin-top: 28px;
    margin-bottom: 28px;
    line-height: 22px;
  }

  img {
    display: block;
    border: 1px solid #f9f9f9;
    border-radius: 4px;
  }
  .nav img {
    border: none;
    margin: 0;
  }

  h2 {
    color: #222222;
    font-family: 'Vollkorn', serif;
    font-size: 32px;
    font-weight: 800;
  }

  h3, h4 {
    color: #252525;
    font-family: 'Fira Sans', sans serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  h3 {
    font-size: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-top: 14px;
    margin-bottom: 14px;
    line-height: 22px;
  }

  a {
    color: #252525;
    text-decoration: none;
    border-bottom: 2px solid #9D9CE3;
    line-height: 34px;
  }

  a:hover {
    color: #9D9CE3;
    text-decoration: none;
    border-bottom: 2px solid #9D9CE3;
    transition: 0.4s
  }

  a:active {
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid #000;
  }

  blockquote {
    margin: 0 auto;
    background-color: #eeeef9;
    padding: 16px;
  }

  /* grid styles */
  .nav {
    margin: 20px auto;
    max-width: 38rem;
  }
  .main {
    margin: 10px;
    width: 70%;
  }
  .inner {
    margin: 20px auto;
    width: 90%;
  }
  .sub {
    margin: 40px auto;
  }

  /* special semantic styles */

  .name {
    font-family: 'Fira Sans';
    color: #424242;
    font-size: 18px;
    margin: auto;
    max-width: 38rem;
    width: 90%;
  }

  .conversation {
    margin: auto;
    padding: 16px 0 16px 16px;
    border-left: 4px solid #9D9CE3;
  }

  .button {
    text-decoration: none;
    font-variant: small-caps;
    color: #000;
    border: 1px solid #000;
    padding: 0px 16px;
    text-align: center;
    transition: 0.5s;
  }

  .button:hover {
    text-decoration: none;
    border: 1px solid #9D9CE3;
    background-color: #9D9CE3;
    color: white;
  }


  /* mobile styles */

  @media screen and (max-width: 768px) {
    .nav {
      width: 90%;
    }
    .main {
      margin: 10px auto;
      width: 90%;
    }
    img {
      max-width: 90%;
    }
  }
