  /* generic styles */

  body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 16px;
  }

  h2 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 56px;
    color: #fb6754;
  }

  h3 {
    font-size: 20px;
    color: black;
    margin: 8px 0;
  }

  h4, h5, h6, p {
    margin-top: 28px;
    margin-bottom: 28px;
    line-height: 1.25em;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }

  a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #509ee3;
  }

  a:hover {
    color: #509ee3;
    text-decoration: none;
    border-bottom: 1px solid #509ee3;
    transition: 0.4s
  }

  a:active {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
  }

  blockquote {
    margin: 0;
    padding: 24px;
    background-color: #fcfeff;
    font-size: 16px;
  }

  /* grid styles */

  .main {
    margin: 10px 20%;
    width: 45%;
  }
  .inner {
    margin: 20px auto;
    width: 100%;
  }
  .sub {
    margin: 40px auto;
  }

  /* special semantic styles */

  .name {
    font-family: 'Roboto';
    color: #424242;
    font-size: 18px;
  }

  .conversation {
    width: 75%;
    padding: 18px;
    border-left: 4px solid #fb6754;
  }

  .button {
    text-decoration: none;
    font-variant: small-caps;
    color: #000;
    border: 1px solid #000;
    padding: 0px 16px;
    text-align: center;
    transition: 0.5s;
  }

  .button:hover {
    text-decoration: none;
    border: 1px solid #fb6754;
    background-color: #fb6754;
    color: white;
  }


  /* mobile styles */

  @media screen and (max-width: 768px) {
    .main {
      width: 90%;
      margin: 10px auto;
    }
    li {
      margin: 10px 0;
    }
  }
